// White
$white:        #fff;
$off-white:    #fcfafb;
$medium-white: #f7f3f5;
$dark-white:   #f2eff1;

// Black
// $black:    #110c0e;
$black:    #0f0b0d;
$black-2:  #2f2b2d;
$black-3:  #3f3b3d;
$black-4:  #4f4b4d;
$black-5:  #5f5b5d;

// Grey
$grey-dark:  #777;
$grey:       #9a9899;
$grey-light: #d5d3d4;

// $primary-1: $default-maroon;
// $primary-1: desaturate(lighten($default-maroon, 5), 15);
$primary-1: #8e255b;

// $secondary-1: desaturate(lighten($default-maroon, 15), 25);
$secondary-1: #ab3b73;

$tertiary-1: desaturate(lighten($secondary-1, 10), 10);
