@mixin home-intro-large-styles {
  padding-top: 10em;
  padding-bottom: 10em;

  h1 {
    font-size: 6em;
  }

  p {
    font-size: 1.5em;
  }
} // home-intro-large-styles

.s-home-intro {
  padding: 4em $page-gutter;
  @extend .cover-image;
  background-color: $black;
  background-image: image-url('backgrounds/city-hearts-group.jpg');
  color: $white;
  text-align: center;

  h1 {
    font-size: 2em;
  }

  p {
    max-width: 30em;
    margin: auto;
    font-size: 1em;
    font-style: italic;
  }

  @include media(375px) {
    h1 {
      font-size: 4em;
    }
  } // 375px

  @include media(min-width 400px min-height 500px) {
    padding-top: 7em;
    padding-bottom: 7em;
  }

  @include media(min-width 750px min-height 500px) {
    @include home-intro-large-styles;
  }

  @include media-ie {
    @include home-intro-large-styles;
  }
} // .s-home-intro
