@mixin home-intro-large-styles {
  padding-top: 10em;
  padding-bottom: 10em;

  .s-home-intro__logo {
    max-width: 30em;
    margin-bottom: 3em;
  }

  p {
    font-size: 1.5em;
  }
} // home-intro-large-styles

.s-home-intro {
  padding: 6em $page-gutter 4em;
  @extend .cover-image;
  background-color: $black;
  background-image: image-url('backgrounds/city-hearts-group.jpg');
  color: $white;
  text-align: center;

  .s-home-intro__logo {
    max-width: 15em;
    margin: 0 auto 2em;

    img {
      width: auto;
      max-width: 100%;
      height: auto;
      margin: 0 auto;
    }
  }

  p {
    max-width: 30em;
    margin: auto;
    font-size: 1em;
    font-style: italic;
  }

  @include media(min-width 400px min-height 500px) {
    padding-top: 7em;
    padding-bottom: 7em;
  }

  @include media(min-width 750px min-height 500px) {
    @include home-intro-large-styles;
  }

  @include media-ie {
    @include home-intro-large-styles;
  }
} // .s-home-intro
