.env
.php-version
node_modules/*
build/*
tmp/*

# IntelliJ
.idea/*

# Composer
vendor/*
!vendor/.gitkeep

# Craft
craft/config/license.key
craft/storage/backups/
craft/storage/runtime/
craft/storage/userphotos/
craft/storage/logo/

public/cache/

# Uploads
public/content/
!public/content/docs/.gitkeep
!public/content/images/.gitkeep
