.image {
  display: block;
  max-width: 100%;
  height: auto;
}

.image-fullwidth {
  display: block;
  width: 100%;
  height: auto;
}

.image-fullheight {
  display: block;
  width: auto;
  height: 100%;
}

.image-circle {
  display: block;
  border-radius: 500px;
}

.cover-image {
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
