.small-section-title {
  margin-bottom: 2em;
  font-size: 1em;
  line-height: 1.375;
  text-transform: uppercase;
}

.title-link {
  a { text-decoration: none; }
  a:hover { text-decoration: underline; }
}
