.b-page {
  margin-top: 3em;
  margin-bottom: 3em;
}

.b-section {
  padding-top: 3em;
  padding-bottom: 3em;

  &.inverse {
    background: $off-white;
  }

  @include media-ie(600px) {
    padding-top: 5em;
    padding-bottom: 5em;
  }
} // .b-section
