.s-footer {
  padding: 3.5em $page-gutter;
  background: $primary-1;
  color: $white;
  font-family: $font-sans;

  .credit {
    font-family: $font-serif;
    font-size: 0.75em;
    font-style: italic;
    text-align: center;
    @include underline-links-on-hover-only;
  }

  .copyright {
    margin-top: 1.5em;
    font-size: 0.8125em;
    text-align: center;
    text-rendering: optimizeLegibility;
  }
} // .s-footer
