.s-header {
  display: none;
  position: fixed;
  top: 1em;
  left: 1em;
  z-index: 1001;

  .js & {
    display: block;
  }
} // .s-header

#nav-toggle-btn {
  position: relative;
  display: block;
  width: 2.25em;
  height: 2.25em;
  border: 2px solid $black;
  border-radius: 500px;
  background: $white;
  @include transition(all 200ms linear);
  @include transform-origin(center);
  @include transform( translate(0,0) );
  @include animation(navSonar 1500ms ease 3s 2);

  @mixin line-top-position($pos) {
    $offset: 1px;
    top: $pos;
    top: -webkit-calc(#{$pos} - #{$offset});
    top: -moz-calc(#{$pos} - #{$offset});
    top: calc(#{$pos} - #{$offset});
  }

  .line {
    position: absolute;
    right: 30%;
    left: 30%;
    display: block;
    height: 2px;
    background: $black-2;
    @include transition(all 200ms linear);
  }

  .line-1 { top: 20%; }
  .line-2 { top: 50%; }
  .line-3 { top: 80%; }

  .js.csstransforms3d & {
    $line-offset: 0.3em;

    .line {
      @include line-top-position(50%);
      @include backface-visibility(hidden);
      @include transform-origin(center);
    }

    .line-1 {
      @include transform( translate(0, -#{$line-offset}) );
    }
    .line-3 {
      @include transform( translate(0, #{$line-offset}) );
    }
  } // .js.csstransforms3d &

  .js.csstransforms3d #{$nav-is-open} & {
    border-color: $white;
    background: transparent;

    .line {
      @include line-top-position(50%);
      right: 25%;
      left: 25%;
      background: $white;
    }

    .line-1 {
      @include transform-origin(center);
      @include transform( rotate3d(0,0,1,45deg) );
    }

    .line-2 {
      visibility: hidden;
      opacity: 0;
    }

    .line-3 {
      @include transform-origin(center);
      @include transform( rotate3d(0,0,1,-45deg) );
    }
  } // nav open
} // #nav-toggle-btn

@include keyframes(navSonar) {
  0% {
    box-shadow: 0 0 0 10px rgba($primary-1, 1);
  }
  100% {
    box-shadow: 0 0 0 30px rgba($primary-1, 0);
  }
}
