$nav-overlay: '.s-nav-overlay';
$nav-li-delay-delta: 0.1;
$nav-li-timing-func: cubic-bezier(0.075, 0.820, 0.165, 1.000);
$nav-li-timing-func: ease;

#{$nav-overlay} {
  background: $primary-1;
  color: $white;
  font-family: $font-sans;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;

  h1 {
    display: none;
  }

  ul {
    display: inline-block;
    margin: auto;
  }

  li {
    display: inline-block;
  }

  a {
    display: block;
    padding: 0.5em 1em;
    border-radius: 500px;
    text-decoration: none;
  }

  a:hover {
    background: $primary-2;
  }
} // #{$nav-overlay}

.js #{$nav-overlay} {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  overflow-x: auto;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  background: rgba($primary-1, 0.95);
  @include transition(opacity 200ms ease-in-out, visibility 200ms ease-in-out);

  .nav-wrap {
    padding: 2em 0;
  }

  h1 {
    display: block;
    opacity: 0;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    border-bottom: 1px solid rgba($white, 0.2);
    font-family: $font-serif;
    font-size: 2em;
    font-weight: bold;
    font-style: italic;
    text-transform: none;
    @include transform( translate(0,1000%) );
  }

  li {
    display: block;
    opacity: 0;
    @include transform( translate(0,1000%) );
  }

  a {
    @include transition(border-color 100ms ease-in-out);
  }
} // .js #{$nav-overlay}

.js.flexbox #{$nav-overlay} {
  @include justify-content(center);
  @include align-items(center);
  @include display(flex);
}

.js #{$nav-is-open} {
  overflow-y: hidden;
  overflow: hidden;

  #{$nav-overlay} {
    visibility: visible;
    opacity: 1;

    h1 {
      opacity: 1;
      @include transform( translate(0,0) );
      @include animation(fadeIn 1000ms $nav-li-timing-func 0s 1);
    }

    li {
      opacity: 1;
      @include transform( translate(0,0) );
    }

    @function nav-delay($position) {
      @return $position * $nav-li-delay-delta;
    }
    @for $item from 1 through 50 {
      li:nth-child(#{$item}){
        $delay: unquote("#{ nav-delay($item) }s");
        @include animation(
          navLiRemainHidden $delay ease 0s 1,
          navLiSlideIn 300ms $nav-li-timing-func $delay 1
        );
      }
    } // @for
  } // #{$nav-overlay}
} // .js #{$nav-is-open}

@include keyframes(navLiRemainHidden) {
  0% {
    @include transform( translate(0,1000%) );
  }
  100% {
    @include transform( translate(0,1000%) );
  }
}

@include keyframes(navLiSlideIn) {
  0% {
    opacity: 0;
    @include transform( translate(0,1000%) );
  }
  100% {
    opacity: 1;
    @include transform( translate(0,0) );
  }
}
