{% extends "layout/base" %}

{% block content %}

  <section id="welcome" class="s-home-intro">
    <h1>{{ siteName }}</h1>
    <p>{{ company.briefMissionStatement }}</p>
  </section>

  <section id="about" class="b-section s-home-about">
    <div class="l-constrained-medium b-content">
      <h1 class="small-section-title">About</h1>
      {{ entry.about }}
    </div>
  </section>

  <section id="help" class="b-section inverse s-home-help">
    <div class="l-constrained-medium b-content">
      <h1 class="small-section-title">How You Can Help</h1>
      {{ entry.help }}
    </div>
  </section>

{% endblock %}
