{% extends "layout/base" %}

{% block content %}

  <section id="welcome" class="s-home-intro">
    <h1>{{ siteName }}</h1>
    <p>{{ company.briefMissionStatement }}</p>
  </section>

  <section id="mission-statement" class="s-home-about">
    <div class="l-constrained-medium b-content">
      <h1>Mission Statement</h1>
      {{ entry.body }}
    </div>
  </section>

{% endblock %}
