{% extends "layout/base" %}

{% block content %}

  <article class="b-page">
    <div class="l-constrained-large b-content a-wow fadeInUp"
          data-wow-delay="0.3s">
      {{ entry.body }}
    </div>
  </article>

{% endblock %}
