.b-slideshow {
  width: 100%;
  margin: 0 auto;

  article {
    overflow: hidden;
  }

  img {
    width: 100%;
    height: auto;
  }

  .slick-dots {
    position: static;
    margin-top: 0.25em;
  }

  .slick-dots li {
    margin: 0;
  }
} // .b-slideshow
