<footer id="footer" class="s-footer">

  <div class="credit">
    <a href="http://www.lacroixdesign.net/"
        {% if craft.request.path is not empty %}rel="nofollow"{% endif %}
        target="_blank">
      Designed &amp; Developed by LaCroix Design Co.
    </a>
  </div>

  <div class="copyright">
    &copy; {{ now.year }} {{ siteName }}
  </div>

</footer>
