<header id="header" class="s-header" role="banner">
  <a href="#nav" id="nav-toggle-btn">
    <span class="line line-1"></span>
    <span class="line line-2"></span>
    <span class="line line-3"></span>
  </a>
</header>
