{% import "macros/nav.twig" as nav %}

{% set home = craft.entries.slug('homepage').limit(1)|first %}

<nav id="nav-top" class="s-nav-top" role="navigation">
  <ul>
    {{ nav.items(home) }}
  </ul>
</nav>

<nav id="nav" class="s-nav-overlay" role="navigation">
  <div class="nav-wrap">
    <h1>City Hearts</h1>
    <ul>
      {{ nav.items(home) }}
    </ul>
  </div>
</nav>
